// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

section.category {
  padding-top: 50px;
}

.h2, h2 {
  font-size: 2rem;
  font-weight: 700;
}

.h3, h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.h4, h4 {
  font-weight: 400;
}

.bg-light {
  background-color: #282828 !important;
}

// Custom horizontal rules

hr.divider {
  max-width: 3.25rem;
  border: 0.2rem $primary;
}

hr.light {
  border-color: #cecece;
  max-width: 1140px;
}

// Button restyling

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  font-family: $font-family-buttons;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid $secondary;
  color: $secondary;
}

.btn-secondary:hover {
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;
}

.btn-secondary:focus {
  box-shadow: none !important;
}

.btn-xl {
  padding: 1.2rem 3rem;
  font-size: 0.85rem;

}

.btn-md {
  padding: 0.8rem 2rem;
  font-size: 0.65rem;
}

// Carousel

.carousel {
  height: 100%;
}

.carousel .carousel-inner .carousel-item img {
  margin: 0 auto 20px;
}

.carousel.features .carousel-inner .carousel-item img {
  margin: 0 auto 20px;
}

.carousel-indicators .active {
  background-color: $primary;
}

.carousel-indicators li {
  background-color: #cecece;
  height: 10px;
}

// Contact

.contact-form {
  margin-top: 15px;
}

.contact-form .textarea {
  min-height: 220px;
  resize: none;
}

.form-control {
  box-shadow: none;
  background-color: #f3f3f3;
  border-color: #eee;
  height: 49px;
}

.form-control:focus {
  box-shadow: none;
  border-color: $green;
}

.form-control-feedback {
  line-height: 50px;
}

/* Heading */

.heading {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.heading:after {
  left: 50%;
  height: 3px;
  width: 50px;
  content: " ";
  bottom: -35px;
  margin-left: -25px;
  position: absolute;
  background: #444;
}

.heading h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 20px;
  color: #444;
}

.heading p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #8693a7;
}

/* Section About */

.claim {
  font-size: 18px;
  margin: 2em;
}

@media (max-width: 768px) {
  .claim {
    font-size: 17px;
    margin: 1em;
  }
}

.hiw-section {
  padding: 2rem 0;
}

@media (min-width: 640px) {
  .hiw-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.hiw-device-container {
  text-align: center;
}

.hiw-section .hiw-text {
  padding: 1rem;
  font-size: 18px;
}

.counter {
  padding: 20px 0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.counter-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.count-title {
  color: #fff;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 28px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 0;
}

.awarenes {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 50px 30px 30px;
  width: 90%;
}

.awarenes > h3 {
  font-weight: 300;
}

.awarenes-flake {
  border: 1px solid #000;
  margin-bottom: -24px;
  background-color: #fff;
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .awarenes {
    padding: 40px 15px 15px;
  }

  .awarenes > h3 {
    font-size: 1.2rem;
  }
}

// Purchase

.purchase {
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .purchase {
    text-align: center;
  }
}

// Footer

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.text-muted {
  color: rgba(255, 255, 255, 0.7) !important;
}

// About

#about-section {
  background: #282828 url('../img/worldtracker.png') no-repeat scroll center;
  background-size: contain;
  color: #fff;
}

// Support

#support-section {
  background: url('../img/board.jpg') no-repeat scroll center;
  background-size: cover;
  color: #fff;
}

// Contact

.contact-section {
  padding-bottom: 4rem;
}
