// Styling for the masthead
header.masthead {
  font-family: $font-family-headings;
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  background: url('../img/bg.png') no-repeat scroll center;
  background-size: cover;
  color: #fff;
  h1 {
    text-align: center !important;
  }
  h2 {
    text-align: center !important;
    font-weight: 300;
  }

  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
      text-align: left !important;
    }
    h2 {
      font-size: 1.5rem;
      text-align: left !important;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 4rem;
      text-align: left !important;
    }
    h2 {
      font-size: 2rem;
      text-align: left !important;
    }
  }
}

.logo {
  height: 50px;
}

.store-container {
  margin-top: 40px;
  margin-left: -10px;
  display: flex;
  flex-direction: row;
}

.store-item {
  width: 155px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
}

.store-item-disabled {
  cursor: none;
}

.store-img-disabled {
  height: 46px;
}

.store-img {
  min-width: 100px;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 992px) {

  .logo {
    height: 30px;
  }

  .button-container {
    text-align: center;
  }

  .store-container {
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .device-container {
    text-align: center;
  }
}
