#mainNav {
  box-shadow: $box-shadow;
  background-color: #282828;
  transition: background-color 0.2s ease;
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-toggler {
    background-color: #fff !important;
    border: 1px solid #fff !important;
  }

  button:focus {
    outline: none !important;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: rgba(255, 255, 255, 1);
        font-family: $font-family-base;
        font-size: 18px;
        border-top: 5px solid transparent !important;
        padding: 0.75rem 0;
        &:hover,
        &:active {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
    box-shadow: none;
    background-color: transparent;

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: rgba(255, 255, 255, 1);
          margin: 0 1rem;
          &:hover {
            color: rgba(255, 255, 255, 0.7);
            border-top: 5px solid rgba(255, 255, 255, 0.7) !important;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
    // Navbar styling applied when the page is scrolled
    &.navbar-scrolled {
      box-shadow: $box-shadow;
      background-color: #282828;
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: rgba(255, 255, 255, 1);
            &:hover {
              color: rgba(255, 255, 255, 0.7);
              border-top: 5px solid rgba(255, 255, 255, 0.7) !important;
            }
            &.active {
              color: rgba(255, 255, 255, 1);
              border-top: 5px solid #fff !important;
            }
          }
        }
      }
    }
  }
}
