// Set a custom color
$green: rgba(102, 222, 92, 1) !default;

// Set primary color to green
$primary: $green !default;

// Font overrides

$font-family-base: 'Avenir LT Std 55 Roman', 'Arial', 'sans-serif' !default;

$font-family-headings: 'Avenir LT Std 95 Black', 'Arial', 'sans-serif' !default;

$font-family-buttons: 'Avenir LT Std 85 Heavy', 'Arial', 'sans-serif' !default;

// Custom variables
$navbar-height: 72px;